* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	font-family: sans-serif;
}

input {
	border: none;
	background-color: transparent;
	
	font-size: 1rem;
	
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

input[type="text"] {
	padding: 0.25rem 0;
	border-bottom: 1px solid #ffa726;
}

input[type="button"],
input[type="submit"] {
	padding: 0.4rem 1.5rem;
	background-color: #ffa726;
	border-radius: 4px;
	
	color: white;
	text-transform: uppercase;
	
	box-shadow: 0 2px 2px #ccc;
	
	transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #ffb74d;
	box-shadow: 0 3px 3px #ccc;
}

input[type="button"]:active,
input[type="submit"]:active {
	background-color: #ffcc80;
}

section {
	padding: 1rem 3rem;
	background-color: #f0f0f0;
}

section > h1 {
	padding: 0.5rem 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid #000;
}

section > table {
	margin: 0 auto;
	border-spacing: 0;
}

section > table td,
section > table th {
	border: none;
	padding: 0.5rem 1rem;
}

section > table th {
	text-align: left;
	border-bottom: 1px solid #444;
}